<!DOCTYPE html>
<html ng-app ng-controller="TesteCtrl">
	<head>
		<title>Angular Js</title>
		<meta charset="utf-8">
	</head>
	<body>

		<h1>Tutorial Angular JS</h1>

		<form id="form_produtos">
			<input type="hidden" id="txtId" name="id" value="0" ng-model="unidade.id">
			<label for="txtTitle"> Title</label>
			<input type="text" id="txtTitle" name="title" ng-model="unidade.title">
			<label for="txtCategory"> Category</label>
			<input type="text" id="txtCategory" name="category" ng-model="unidade.category">
			<label for="txtTGoogleID">Google ID</label>
			<input type="text" id="txtGoogleID" name="google_id" ng-model="unidade.google_id">
			<input type="submit" id="btnSalvarProduto" value="Salvar Produto" ng-click="salvar()">
		</form>


		<table id="lista_produtos" border="1">

			<thead>
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Category</th>
					<th>Google ID</th>
					<th>#</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="un in lista">
					<td>{{un.id}}</td>
					<td>{{un.title}}</td>
					<td>{{un.category}}</td>
					<td>{{un.google_id}}</td>
					<td>[ <a href="#" ng-click="editar(un)">editar</a> |<a href="#" ng-click="excluir(un)"> excluir</a> ]</td>
			</tbody>
		</table>	

		<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>		
		<script type="text/javascript" src="js/angular-1.0.1.min.js"></script>
		<script src="js/custom.js"></script>
	</body>

	</html>